* {
	margin: 0;
	padding: 0;
	background-color: #000;
}

@font-face {
  font-family: BetterSaturday;
  src: url(BetterSaturday.otf);
}

iframe {
	width: 100%;
	height: 100%;
	position: absolute;
}

/*.hero {
	min-height: 100vh;
	width: 100%;
	background-image: url(bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 130%;
	color: #fff;
}*/

.text {
	padding: 20px;
	color: black;
	width: 100%;
	height: 100%;
	background 	: none;
	font-size: 30px;
	font-family: BetterSaturday;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 0%;
}

/*@media only screen and (min-width: 1280px) {
  	iframe {
    	height: 800px;
    }
}*/