@font-face {
	font-family: BetterSaturday;
	src: url(font/BetterSaturday.otf);
}
@font-face {
	font-family: DFVNVivaldi;
	src: url(font/DFVNVivaldi.otf);
}

body {
	padding: 0;
	margin: 0;
}

.hero {
	position: relative;
	height: 100vh;
	width: 100%;
	padding: 16px;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}

.hero::before {
	content: "";
	background-image: url(img/3.jpg);
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	/* opacity: 0.4; */
}

#myContent {
	display: none;
}

.question {
	font-family: DFVNVivaldi;
	font-size: 1.9rem;
	text-decoration: none;
	display: block;
	position: relative;
	color: white;
	opacity: 0.8;
	/* text-align: center; */
	line-height: 1.6;
	/* border-bottom: 1px solid grey; */
}
