@font-face {
	font-family: BetterSaturday;
	src: url(BetterSaturday.otf);
}

body {
	padding: 0;
	margin: 0;
}

.hero {
	position: relative;
	height: 100vh;
	width: 100%;
	padding: 10px;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}

.hero::before {
	content: "";
	background-image: url(bg.jpg);
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.4;
}

.question {
	font-family: BetterSaturday;
	font-size: 1.5rem;
	text-decoration: none;
	display: block;
	position: relative;
	/* color: red; */
	/* text-align: center; */
	line-height: 1.6;
	border-bottom: 1px solid grey;
}
